.main-menu {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    text-align: center;
}

.menu-item {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 130%;
    color: white;
    font-family: Helvetica;
}

.menu_item:hover {
    color: #D2B48C;
    cursor: pointer;
}

.header-image {
    position: relative;
}

.header-logo {
    position: absolute;
    bottom:50%;
}

.main-table {
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 3%;
    height: 60%;
}

.top-row {
    width:100%;
    clear:both;
}

.h1-text {
    margin-bottom: 1%;
    font-size: 250%;
    font-family: Helvetica;
}

.left-col {
    width:50%;
    float:left;
}

.content-text {
    font-family: Helvetica;
    font-size: 160%;
}

.right-col {
    width:48%;
    float:right;
}
