.main-menu {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    text-align: center;
}

.menu-item {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 130%;
    color: white;
    font-family: Helvetica;
}

.menu_item:hover {
    color: #D2B48C;
    cursor: pointer;
}

.header-image {
    position: relative;
}

.header-logo {
    position: absolute;
    bottom:50%;
}
